
*{
    margin: 0;
    padding: 9px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, #f127e6, #f5af19);
    background-size: cover;
    width: 100%;
    flex-wrap: wrap;
    position: absolute;
}

header{
    display: flex;
    justify-content: space-between;
 
}

.boton{
    color: darkslategray;
}

.circulo > .imagen{
    justify-self: stretch;
    display: flex;
    height: 300px;
    width: auto;
    color: #f5af19;

}


.imagen{

    border-radius: 100%;
 }
 

h1{
    font-size: 50px;
    color: white;
    width: max-content;
    columns: 1;

}
div{
    display: block;

}
a {
    color: #312323;
}

main {

    display:inline;

}

section{
    width: 100%;
    height: auto;
}

main p{
    font-size: 1%;
    color: white;
    width: max-content;
}

main li{
    margin: 0 5px;
}

main a{
    text-decoration: none;
    color: black;
    width: max-content;

}

h2 {
    font-size: 200%;
    font-weight: bold;
    color: white;
    width: max-content;

}

main p{
    font-size: 16px;
    font-weight: normal;
    color: black;
}

footer { 
    text-align: center;
    background-color: #D1DFE3;
    color: black;
    padding: 10px;
    position: relative;
    bottom: 0; 
    width: 100%;
}

nav{
    display: flex;
    height: 20px;
    width: 100%;
}

.barra{
    width: 100%;
}

button{
    background-color: #D1DFE3;
}

.boton{
    column-count: 1 4;
    white-space: nowrap;
    background-color: #D1DFE3;
}

.listas{
    list-style: none;
}
.listas1{
    list-style: none;
    display: flex;
}

.flex{
    display: flex;
    width: 80%;
    flex-wrap: nowrap;
}
.aptitudesmain{
    width: 50%;
}
.dato{
    white-space: nowrap;
}
.negrita{
    white-space: nowrap;
    font-weight: bold;
}
.contenedor{
    width: max-content;
    flex: auto;
}
.cursiva{
    font-style: italic;
}
.imagen0{
    text-align: right;
}